name: Tag checks

on:
  push:
    tags:
      - "*"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run checks
        run: |
          grep -P --color=always "\s+(?<=rev: )$GITHUB_REF_NAME$" README.md
          ver=${GITHUB_REF_NAME%-*}
          grep -P --color=always "(?<=/Perl-Critic-)${ver#v}(?=\.tar)" \
              .pre-commit-hooks.yaml
