name: Main push and PR checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      # No caching as we're expected to run rarely
      - name: Install dependencies and run checks
        run: |
          venv=$(mktemp -d ${TMPDIR:-/tmp}/venv.XXXXXX)
          python3 -m venv "$venv"
          source "$venv/bin/activate"
          python3 -m pip install pre-commit
          pre-commit try-repo . --color always --verbose --all-files
